<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>WWC | Using Gravatar</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css" id="theme">
		<link rel="stylesheet" href="css/custom.css">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section data-background="black">

					<div id="intro-l">
						<img id="bgn-pic" src="images/BGN.png">
					</div>

						<div id="intro-r">
							<h2><span class="hl">WWC:</span> Ruby on Rails</h2>
								<hr>
							<h3><span class="hl">Using Gravatar</span></h3>
								<p>
									<a href="http://www.twitter.com/ZuriHunter">Zuri Hunter</a>
								</p>
						</div>
				</section>

				<!-- Table of Content -->
				<section data-background="black">
					<h2><span class="hl">Table of Contents</span></h2>
					<ul>
						<li>The <span class="hl">What</span>?</li>
						<li>The <span class="hl">Why</span>?</li>
						<li>Create <span class="hl">myContacts</span></li>
						<li>Connect to <span class="hl">Gravatar</span></li>
						<li><span class="hl">Resources</span></li>
					</ul>
				</section>

				<!-- The What -->
				<section data-background="black">
					<section>
						<h1>The <span class="hl">What?</span></h1>
						<hr>
					</section>
					<section>
						<p><span class="hl">Gravatar</span> is a "globally recognized avatar API used to attach an avatar as representation of you online."</p>
					</section>
				</section>

				<!-- The Why -->
				<section data-background="black">
					<section>
						<h1>The <span class="hl">Why?</span></h1>
						<hr>
					</section>
					<section>
						<ul>
							<li class="fragment">Prevents <span class="hl">inappropriate images</span> on your website from users</li>
							<li class="fragment">Eliminates <span class="hl">redundancy</span> in uploading a user image on every social platform</li>
							<li class="fragment">Eliminates the <span class="hl">need to code</span> avatar image uploading in applications</li>
							<li class="fragment">Eliminates the need to <span class="hl">add cloud databases</span> such as Amazon Web Services (S3) to the application </li>
						</ul>

						<p><i class="fragment">Only works with websites that uses the Gravatar plugin</i></p>
					</section>
				</section>

				<!-- Gravatar Link -->

				<section data-background="black">
					<h1> <a href="http://en.gravatar.com">Use Gravatar</a> </h1>
				</section>

				<!-- Brief Intro to CLI -->
				<section data-background="black">
					<section>
						<h1>Useful Command Line <span class="hl">Commands</span> </h1>
						<hr>
					</section>

					<section>
						<ul>
							<li><code class="hl">cd</code> - change directory </li>
							<li><code class="hl">cd ..</code> - go back one level in directory </li>
							<li><code class="hl"> ls or dir </code> - lists all files in current directory </li>
						</ul>
					</section>
				</section>

				<!-- Create myContacts -->
				<section data-background="black">
					<section>
						<h1>Create <span class="hl">myContacts</span></h1>
						<hr>
					</section>
					<section>
						<p class="fragment">Open the Terminal(Mac) or Command Line (PC)</p>
						<p class="fragment"><code>rails new myContacts</code></p>
					</section>
					<section>
						<p><code>cd myContacts</code><p>
					</section>
					<section>
						<p><code>rails generate scaffold Users firstname:string lastname:string emai:string phonenumber:string</code></p>
					</section>
					<section>
						<p><code>rake db:migrate</code></p>
					</section>
					<section>
						<p class="fragment">Within your project go to config/routes.rb</p>
						<p class="fragment">Delete everything that has ''<code>#</code>'' next to it</p>
					</section>
					<section>
						<code>root 'user#index'</code>
					</section>
					<section>
						<p class="fragment">Within your project go to the Gemfile</p>
						<p class="fragment"><code>gem 'bootstrap-sass', '~> 3.2.0.2'</code></p>
					</section>
					<section>
						<p class="fragment">Within the Terminal(Mac) or Command Prompt(PC)</p>
						<p><code class="fragment">bundle install</code></p>
					</section>
					<section>
						<p class="fragment">Within your project go to assets/stylesheet/application.css</p>
						<p class="fragment">Rename the file <code>application.css.scss</code></p>
					</section>
					<section>
						<p class="fragment">At the end of the file add these two lines of code</p>
						<p><code class="fragment">@import “bootstrap-sprockets”;</code></p>
						<p><code class="fragment">@import “bootstrap";</code></p>
					</section>
				</section>

				<section data-background="black">
					<section>
						<h1>Connect with <span class="hl">Gravatar</span></h1>
						<hr>
					</section>
					<section>
						<p class="fragment">Within your project to app/views/user/index.html.erb</p>
<pre class="fragment"><code class="hljs" style="max-height: none !important; max-width: none !important;" data-trim contenteditable>
<!-- Code -->
<p id="notice"><%= notice %></p>
<h1>myContacts</h1>
	<div class="row">
		<div class="col-sm-6 col-md-4">
		<% @users.each do |user| %>
			<div class="thumbnail">
				<td> <%= image_tag gravatar_url(user)%> </td>
					<div class="caption">
					<h3><%= user.firstname%></h3>
					<h3> <%= user.lastname %></h3>
						<p><%= user.email %></p>
						<p><%= user.phonenumber %></p>
						<p>
							<%= link_to 'Show',  user, class: "btn btn-primary" %>
							<%= link_to 'Edit', edit_user_path(user), class: "btn btn-success" %>
							<%=link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %> </p>

						</div>
				</div>
			<% end %>
			</div>
		</div>

	<%= link_to 'New User', new_user_path %>
<!-- Code -->
</code></pre>

					</section>
					<section>
						<p class="fragment">Within your project go to app/helper/application_helper.rb</p>
<pre class="fragment"><code class="hljs" data-trim contenteditable>
def gravatar_url(user)
	gravatar_id = Digest::MD5::hexdigest(user.email.downcase)
	default_url = "http://www.francaisasydney.com/images/avatars/gallery/woman1.jpg"
	url = "http://gravatar.com/avatar/#{gravatar_id}.png?s=128&d=#{CGI.escape(default_url)}"
end
</code></pre>
					</section>
				</section>

				<section data-background="black">
					<section>
						<h1><span class="hl">Resources</span></h1>
						<hr>
					</section>
					<section>
						<ul>
							<li><a href="http://railscasts.com/episodes/244-gravatar">Rails Cast: Gravatar</a></li>
							<li><a href="http://en.gravatar.com/">Official Gravatar Website</a></li>
							<li><a href="http://richonrails.com/articles/getting-a-user-s-gravatar">Getting a User's Gravatar</a></li>
						</ul>
					</section>
				</section>

				<section data-background="black">
					<h1>Thank You!</h1>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
